.button {
  padding: 1px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--text);
  border-radius: 8rem;
}

.button:hover .inner__button {
  background: var(--gradient);
  background-size: 500% auto;
  animation: textGradient 10s ease-in-out infinite alternate;
}

.button:hover .button__text {
  color: var(--text);
  -webkit-text-fill-color: var(--bg);
}

.inner__button {
  background: var(--bg);
  padding: 1rem 2rem;
  border-radius: 8rem;
  transition: all 0.3s ease;
}

@media screen and (max-width: 390px) {
  .inner__button {
    padding: 0.7rem 1.5rem;
  }
}