#accordian__section {
  margin-bottom: 25rem;
}

.accordian {
  margin-top: 1rem;
}

.accordian__bg {
  background: var(--text);
  padding: 4rem 4.5rem;
  border-radius: 1.5rem;
}

.accordian__title {
  color: var(--bg);
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  transition: all 0.3s ease;
}

.accordian__title:hover {
  opacity: 0.7;
}

.accordian__answer {
  color: var(--bg);
  margin-top: 0.2rem;
}

.plus {
  filter: invert(1);
}

@media screen and (max-width: 390px) {
  #accordian__section {
    margin-bottom: 15rem;
  }

  .accordian__bg {
    padding: 1.6rem;
    border-radius: 1rem;
  }

  .accordian {
    margin-top: 0.5rem;
  }

  .plus {
    width: 2.4rem;
    height: 2.4rem;
  }

  .description {
    line-height: 3.2rem;
  }
}
