:root {
  --bg: #111;
  --text: #fff;
  --gradient: linear-gradient(
    91.49deg,
    #ffd319 -0.79%,
    #f222ff 21.26%,
    #8c1eff 43.31%,
    #ffd319 63.26%,
    #f222ff 82.68%,
    #8c1eff 99.48%
  );
  --yellow: #ffd319;
  --shadow: drop-shadow(0px 0px 35px rgba(242, 34, 255, 0.2));
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: calc(100vw / 1920 * 10);
}

body {
  background: var(--bg);
  overflow-x: hidden;
  color: var(--text);
}

p {
  font-size: 2rem;
  font-weight: 500;
  line-height: 3.2rem;
}

a {
  font-size: 2rem;
  font-weight: 500;
  line-height: 3.2rem;
  text-decoration: none;
  color: var(--text);
}

h2 {
  font-size: 4rem;
  line-height: 6rem;
  letter-spacing: -0.03em;
}

.container {
  max-width: 164rem;
  margin: 0 auto;
}

nav {
  margin-top: 2.5rem;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu-btn {
  cursor: pointer;
}

@media screen and (max-width: 390px) {
  html {
    font-size: calc(100vw / 390 * 10);
  }

  p {
    font-size: 1.5rem;
    line-height: 3rem;
  }

  h2 {
    font-size: 2.4rem;
    line-height: 2.8rem;
    letter-spacing: -0.03em;
  }
  
  a {
    font-size: 1.5rem;
  }

  .container {
    max-width: 100%;
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
