:root {
  --text: #1e1e1e;
  --bg: #fff;
  --shadow: drop-shadow(0px 0px 35px rgba(0, 0, 0, 0.2));
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: calc(100vw / 1920 * 10);
}

body {
  background: var(--bg);
  overflow-x: hidden;
  color: var(--text);
}

p {
  font-size: 2rem;
  font-weight: 500;
  line-height: 3.2rem;
}

a {
  font-size: 2rem;
  font-weight: 500;
  line-height: 3.2rem;
  text-decoration: none;
  color: var(--text);
}

h2 {
  font-size: 4rem;
  line-height: 6rem;
  letter-spacing: -0.03em;
}

.container {
  max-width: 164rem;
  margin: 0 auto;
}

nav {
  padding-top: 2rem;
  padding-bottom: 2rem;
  position: fixed;
  top: 0;
  left: 0;
  background: var(--bg);
  width: 100%;
  z-index: 999;
}

.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu-btn {
  cursor: pointer;
}

@media screen and (max-width: 390px) {
  html {
    font-size: calc(100vw / 390 * 10);
  }

  p {
    font-size: 1.85rem;
    line-height: 3rem;
  }

  h2 {
    font-size: 2.4rem;
    line-height: 2.8rem;
    letter-spacing: -0.03em;
  }

  a {
    font-size: 1.5rem;
  }

  nav {
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
  }

  .container {
    max-width: 100%;
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
